ul {
    display: flex;
    justify-content: space-around;
}



.links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

li {
    margin: 0 10px;
    
}

li a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color:blueviolet;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}